body{
    background-size: cover;
    background-color:rgb(82, 94, 96);
    background-image: url(BG.jpg);
    background-blend-mode:multiply
}
img{
    width:6cm;
}
h1{
    font-family:'Courier New', Courier, monospace;
    color: rgb(197, 226, 237);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(60, 92, 104);
    font-weight: bold;
}
p{
    font-size: 200%;
}
.big_box{
    width: 53%;
    border: 2px solid rgb(4, 49, 49);
    margin:auto;
    border-radius: 10px;
}
.text_box{
    background-color: rgb(212, 212, 212);
    padding: 4%;
    min-height: 10%;
    border-radius: 10px 10px 0 0;
    line-height: 1.5;
    position:relative;
    text-align: center;
}

.option_box{
    background-color: rgb(138, 174, 183);
    min-height: 34%;
    border-radius: 0 0 10px 10px;
    padding: 2%;
    text-align: center;
    align-items: center;
}
.option{
    border-radius: 30px;
    width: 30%;
    background-color: aliceblue;
    padding-inline: 1%;
    text-align: center;
    line-height: 110%;
    text-decoration: none;
    color: black;
}
.option:hover{
    background-color: rgb(125, 156, 163);
    transition-duration: 0.3s;
    color: aliceblue;
}
.progress-container {
    width: 80%;
    height: 30px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
}
.progress-bar {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.1s linear;
}
Button{
    height: 20%;
    font-size: x-large;
    margin: 5%;
}